/*  =Mixins
  ------------------------------------------------------ */
body {
  background: #161c29;
}

.row {
  background: white;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.subheader {
  color: #3ca74a;
  text-transform: uppercase;
}

p a {
  color: #27509a;
  text-decoration: underline;
}
p a:hover {
  color: #5381d4;
}

input[type="submit"] {
  background: #3ca74a;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #43ba52), color-stop(100%, #3ca74a));
  background-image: -webkit-linear-gradient(#43ba52, #3ca74a);
  background-image: -moz-linear-gradient(#43ba52, #3ca74a);
  background-image: -o-linear-gradient(#43ba52, #3ca74a);
  background-image: linear-gradient(#43ba52, #3ca74a);
  color: white;
  padding: 4px 20px;
  border: 1px solid #399f47;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-size: 1.2em;
  font-family: "League Gothic", Helvetica, Arial, sans-serif;
  -webkit-box-shadow: -1px 0px 0px 0px rgba(255, 255, 255, 0.31) inset;
  -moz-box-shadow: -1px 0px 0px 0px rgba(255, 255, 255, 0.31) inset;
  box-shadow: -1px 0px 0px 0px rgba(255, 255, 255, 0.31) inset;
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}
input[type="submit"]:hover {
  background: #3ca74a;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3ca74a), color-stop(100%, #359442));
  background-image: -webkit-linear-gradient(#3ca74a, #359442);
  background-image: -moz-linear-gradient(#3ca74a, #359442);
  background-image: -o-linear-gradient(#3ca74a, #359442);
  background-image: linear-gradient(#3ca74a, #359442);
}
input[type="submit"]:active {
  background: #3ca74a;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e6e6e6), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(#e6e6e6, #ffffff);
  background-image: -moz-linear-gradient(#e6e6e6, #ffffff);
  background-image: -o-linear-gradient(#e6e6e6, #ffffff);
  background-image: linear-gradient(#e6e6e6, #ffffff);
}

div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-size: 15px;
  width: auto;
  background-image: none;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  border: 1px solid;
  margin: 6px 0;
  padding: 3%;
  font-size: 14px;
}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status {
  /* Normal priority messages */
  color: #468847;
  background-color: #DFF0D8;
  border-color: #D6E9C6;
}

div.warning,
tr.warning {
  /* Medium priority messages */
  color: #c09853;
  border-color: #FBEED5;
  background-color: #FCF8E3;
}

div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
  color: #b94a48;
  border-color: #eed3d7;
  background-color: #f2dede;
}

.block {
  background: #151c28;
  padding: 4% 6%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.block h2.block-title {
  /* Block title */
  font-size: 1.9em;
  text-transform: uppercase;
  color: #4aaded;
}
.block h3 {
  color: #e8752f;
  font-style: italic;
  font-size: 1.7em;
  font-weight: normal;
}
.block .content p {
  background: white;
  padding: 20px;
}

ul.tabs.primary {
  *zoom: 1;
}
ul.tabs.primary a {
  font-family: "League Gothic", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  color: #999999;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(50%, #ececec), color-stop(100%, #f8f8f8));
  background-image: -webkit-linear-gradient(#f8f8f8, #ececec, #f8f8f8);
  background-image: -moz-linear-gradient(#f8f8f8, #ececec, #f8f8f8);
  background-image: -o-linear-gradient(#f8f8f8, #ececec, #f8f8f8);
  background-image: linear-gradient(#f8f8f8, #ececec, #f8f8f8);
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -ms-border-radius: 8px 8px 0 0;
  -o-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
  border: 1px solid #c6c6c6;
  border-bottom: 1px solid #e5e5e5;
  padding: 5px 13px;
  margin-right: -1px;
  text-transform: uppercase;
  letter-spacing: .05em;
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}
ul.tabs.primary li.active a, ul.tabs.primary a.active {
  background: white;
  border-bottom: none;
}
ul.tabs.primary a:link,
ul.tabs.primary a:visited {
  display: block;
}
ul.tabs.primary a:hover,
ul.tabs.primary a:focus {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdfdfd), color-stop(50%, #f1f1f1), color-stop(100%, #fdfdfd));
  background-image: -webkit-linear-gradient(#fdfdfd, #f1f1f1, #fdfdfd);
  background-image: -moz-linear-gradient(#fdfdfd, #f1f1f1, #fdfdfd);
  background-image: -o-linear-gradient(#fdfdfd, #f1f1f1, #fdfdfd);
  background-image: linear-gradient(#fdfdfd, #f1f1f1, #fdfdfd);
  color: #08c;
}
ul.tabs.primary:before, ul.tabs.primary:after {
  display: table;
  content: "";
}
ul.tabs.primary:after {
  clear: both;
}
ul.tabs.primary li {
  float: left;
  list-style: none;
}

.field-items .field-item a {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(50%, #fdfdfd), color-stop(100%, #fdfdfd));
  background-image: -webkit-linear-gradient(#fafafa, #fdfdfd 50%, #fdfdfd);
  background-image: -moz-linear-gradient(#fafafa, #fdfdfd 50%, #fdfdfd);
  background-image: -o-linear-gradient(#fafafa, #fdfdfd 50%, #fdfdfd);
  background-image: linear-gradient(#fafafa, #fdfdfd 50%, #fdfdfd);
  float: left;
  margin-right: 5px;
  padding: 0.2em 0.4em;
  border: 1px solid #F0F0F0;
  border-radius: 0px;
  border-image: initial;
  color: #666;
  text-decoration: none;
  text-shadow: white 0px 1px 0px;
  font-size: 11px;
  line-height: 1.5;
  -webkit-transition: 0.4s linear all;
  -moz-transition: 0.4s linear all;
  -o-transition: 0.4s linear all;
  transition: 0.4s linear all;
}
.field-items .field-item a:hover {
  background: #eeeeee;
}

.item-list .pager {
  text-align: left;
}
.item-list .pager li {
  margin-right: 5px;
  list-style: none;
  display: inline-block;
}
.item-list .pager li.last {
  margin-right: 0;
}
.item-list .pager li.pager-current a {
  color: #666;
  background: white;
}
.item-list .pager li.pager-current a:hover {
  background: white;
}
.item-list .pager li.last a, .item-list .pager li.first a, .item-list .pager li.pager-previous a, .item-list .pager li.pager-next a {
  padding: 1px 5px;
}
.item-list .pager a {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: block;
  padding: 1px 5px;
  border: 1px solid #e1e1e1;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  color: #27509a;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(50%, #ececec), color-stop(100%, #f8f8f8));
  background-image: -webkit-linear-gradient(#f8f8f8, #ececec, #f8f8f8);
  background-image: -moz-linear-gradient(#f8f8f8, #ececec, #f8f8f8);
  background-image: -o-linear-gradient(#f8f8f8, #ececec, #f8f8f8);
  background-image: linear-gradient(#f8f8f8, #ececec, #f8f8f8);
  -webkit-transition: color 0.15s ease-in-out;
  -moz-transition: color 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
}
.item-list .pager a:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ececec), color-stop(50%, #f8f8f8), color-stop(100%, #ececec));
  background-image: -webkit-linear-gradient(#ececec, #f8f8f8, #ececec);
  background-image: -moz-linear-gradient(#ececec, #f8f8f8, #ececec);
  background-image: -o-linear-gradient(#ececec, #f8f8f8, #ececec);
  background-image: linear-gradient(#ececec, #f8f8f8, #ececec);
  border: 1px solid #e1e1e1;
  text-decoration: none;
  color: #5381d4;
}
.item-list .pager a:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dfdfdf), color-stop(50%, #f8f8f8), color-stop(100%, #f0f0f0));
  background-image: -webkit-linear-gradient(#dfdfdf, #f8f8f8, #f0f0f0);
  background-image: -moz-linear-gradient(#dfdfdf, #f8f8f8, #f0f0f0);
  background-image: -o-linear-gradient(#dfdfdf, #f8f8f8, #f0f0f0);
  background-image: linear-gradient(#dfdfdf, #f8f8f8, #f0f0f0);
}
