// You custom settings file to override Foundation defaults
@import "settings";
@import "mixins";



// Hides .element-invisible code from Drupal
.element-invisible {
  @include element-invisible;
}

// Tile Layout Elements
.section {
  margin: 50px 0;
  @include clearfix;
}


// Action Link Button Layout
.action-links {
  margin: 20px 0;
  @include clearfix;
  li {
    list-style: none;
    float: left;
    margin-right: 5px;
  }
}

// Tags Layout
.field-items {
  .field-item a {
    float: left;
    margin-right: 5px;
  }
}

h1.title {
  font-size: 33px;
}


@mixin swatches($color1, $color2, $color3, $color4, $color5) {
  
  li {
    $border_sum: 2%;
    $border_width: $border-sum/2;
    border: 1px solid #d1d1d1;
    background: white;
    $margin_right: 2.2%;
    $padding: .5%;
    $width:((110-(4*$margin_right)-($padding)-($border_sum*5))/5);
    width:$width;
    margin-right: $margin-right;
    padding: $padding;
    display: block;
    float: left;
    @include clearfix;
   
    span {
      display: block;
      height: 70px;
    }
  }
  
  li.one span {
    background: $color1;
  }
  
  li.two span{
    background: $color2;
  }
  
  li.three span{
    background: $color3;
  }
  
  li.four span{
    background: $color4;
  }
  
  li.five {
    margin-right: 0;
   
    span {
      background: $color5;
    }
  }
} 


#swatches {
  @include swatches($color1, $color2, $color3, $color4, $color5);
  @include clearfix;
}




